<section class="built">
    <div class="container built-container">
        <h2 class="built-title">Product  was Built Specifically for You</h2>
        <ul class="built-list">
            <li class="built-item">
                <div class="built-item-svg">
                    <svg width="11" height="18">
                        <use href="./images/sprite.svg#icon-cursor"></use>
                    </svg>
                </div>
                <h3 class="built-item-title">First click tests</h3>
                <p class="built-item-text">While most people enjoy casino gambling,</p>
               
            </li>
            <li class="built-item">
                <div class="built-item-svg">
                    <svg width="18" height="18">
                        <use href="./images/sprite.svg#icon-wave"></use>
                    </svg>
                </div>
                <h3 class="built-item-title">Design surveys</h3>
                <p class="built-item-text">Sports betting, lottery and bingo playing for the fun</p>
            </li>
            <li class="built-item">
                <div class="built-item-svg">
                    <svg width="16" height="18">
                        <use href="./images/sprite.svg#icon-heart"></use>
                    </svg>
                </div>
                <h3 class="built-item-title">Preference tests</h3>
                <p class="built-item-text">The Myspace page defines the individual.</p>
            </li>
            <li class="built-item">
                <div class="built-item-svg">
                    <svg width="14" height="18">
                        <use href="./images/sprite.svg#icon-clock"></use>
                    </svg>
                </div>
                <h3 class="built-item-title">Five second tests</h3>
                <p class="built-item-text">Personal choices and the overall personality of the person. </p>
            </li>
        </ul>
        <button class="built-btn" type="button">SIGN UP NOW</button>
    </div>
</section>