<section class="hero">
    <div class="container hero-container">
        <div class="hero-box">
            <h1 class="hero-title">Work at the speed of thought</h1>
            <p class="hero-text">
                Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
            </p>
            <ul class="hero-list">
                <li>
                    <button class="hero-btn-start" 
                    type="button">Get started</button></li>
                <li>
                    <button class="hero-btn-video" 
                    type="button">
                    <svg class="hero-btn-video-svg" width="16" height="18">
                        <use href="./images/icons.svg#icon-triangle"></use>
                    </svg>
                    Watch the Video</button></li>
            </ul>
        </div>
        <img src="./images/hero-img.jpg" alt="hero_image" width="610" height="555">
    </div>
</section>