<section class="support">
    <div class="container support-container">
        <ul class="support-main-list">
            <li class="support-main-item">
                <div class="support-text-box">
                    <h2 class="support-title">Effortless Validation for</h2>
                    <h3 class="support-main-title">Management</h3>
                    <p class="support-main-text">
                        The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.
                    </p>
                    <ul class="support-list">
                        <li class="support-item">
                                <h4 class="support-item-title">Accessory makers</h4>
                                <p class="support-text">
                                    While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
                                </p>
                        </li>
                        <li class="support-item">
                                <h4 class="support-item-title">Alterationists</h4>
                                <p class="support-text">
                                    If you are looking for a new way to promote your business that won’t cost you more money,
                                </p>
                        </li>
                    </ul>
                </div>
                <img src="./images/management.jpg" alt="Management">
            </li>
            <li class="support-main-item">
                <img src="./images/support.jpg" alt="Support">
                <div class="support-text-box">
                    <h2 class="support-title">Easier decision making for</h2>
                    <h3 class="support-main-title">Customer Support</h3>
                    <p class="support-main-text">
                        The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.
                    </p>
                    <ul class="support-list">
                        <li class="support-item">
                                <div class="support-item-box">
                                    <div class="support-item-svg">
                                        <svg width="17" height="12">
                                            <use href="./images/icons.svg#icon-tick"></use>
                                        </svg>
                                    </div>
                                    <p class="support-text support-item-box-text">
                                        Never worry about overpaying for your energy again.
                                    </p>
                                </div>
                        </li>
                        <li class="support-item">
                                <div class="support-item-box">
                                    <div class="support-item-svg">
                                        <svg width="17" height="12">
                                            <use href="./images/icons.svg#icon-tick"></use>
                                        </svg>
                                    </div>
                                    <p class="support-text support-item-box-text">
                                        We will only switch you to energy companies that we trust and will treat you right
                                    </p>
                                </div>
                        </li>
                        <li class="support-item">
                                <div class="support-item-box">
                                    <div class="support-item-svg">
                                        <svg width="17" height="12">
                                            <use href="./images/icons.svg#icon-tick"></use>
                                        </svg>
                                    </div>
                                    <p class="support-text support-item-box-text">
                                        We track the markets daily and know where the savings are.
                                    </p>
                                </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="support-main-item">
                <div class="support-text-box">
                    <h2 class="support-title">Optimisation for</h2>
                    <h3 class="support-main-title">Collaborative</h3>
                    <p class="support-main-text">
                        Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior.
                    </p>
                    <ul class="support-list">
                        <li class="support-item">
                            <h4 class="support-item-title">Accessory makers</h4>
                            <p class="support-text">
                                While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun
                            </p>
                        </li>
                        <li class="support-item">
                            <h4 class="support-item-title">Alterationists</h4>
                            <p class="support-text">
                                If you are looking for a new way to promote your business that won’t cost you more money,
                            </p>
                        </li>
                    </ul>
                </div>
                <img src="./images/collaboration.jpg" alt="Collaborative">
            </li>
        </ul>
    </div>
</section>